.job-card {
  height: 300px; /* Fixed height */
  min-width: 260px; /* Minimum width */
  width: 100%; /* Allow responsive width */
  overflow: hidden; /* Hide overflow */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-background);
    /* margin: 10px; */
}
  
.job-card-body {
  overflow-y: auto; /* Scrollable body */
}

.jobLink {
  text-decoration: none;
  color: inherit;
}


  