.jobformcontainer {
    width: 40vw;
    border: 1px solid #ddd;
    border-radius:  15px;
    
    padding: 20px;
}

@media (max-width:767px){

    .jobformcontainer {
        width: 90vw;
       
    }


}