.explore-button {
    margin-top: 70px;

}

.button {
    font-size: 20px;
    font-weight: 300;

}

.text-row {
    margin-top: 30px;
}

.img-row {
    margin-top: 50px;
}

.button-link {
    text-decoration: none;
    color: white;

}