.circular-image {
    width:50%;  /* 20% of the card */
    height: auto;  /* Maintain aspect ratio */
    border-radius: 50%;  /* Make it circular */
    object-fit: cover;  /* Ensure the image covers the container */
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    height: '150px';
    overflow: 'hidden'
  }
  