.mainNav {
    background-color:var(--color-primary);
}

.navItem {
    color:#FFFFFF;
}

@media (max-width:992px) {
    .mainNav {

        text-align: center;

    }

    .navItem {
        color:#FFFFFF;
    }
}

