/* .side_bar {
    display: flex;
    width: 250px;
    height: 100vh;
   


}  */
/* 
.sidebarRow {
    height:100vh
} */

/* 
@media (max-width:767px){

    .side_bar {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 60vh;
       


    } 

} */



