.side_bar {

    background-color: var(--color-primary);
  
   


} 
/* 
.sidebarRow {
    height:100vh
} */

/* 
@media (max-width:767px){

    .side_bar {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 60vh;
       


    } 

} */



