.form-container {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
 

  max-width: 480px
    
}

.accentItem {
  background-color: var(--color-accent);
  border: 0px;
  color: black
}
  
  h2 {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .form-container {
      padding: 15px;
    }
  }